{% extends 'main.html' %}

{% block top %}{% endblock %}
{% block menu %}{% endblock %}

{% block main %}


<form method="post" action="" id="login-form">
    {% csrf_token %}
        <h2 class="center">Dziobak</h2>
        <table>
            <tr>
                <th>{{ form.username.label_tag }}</th>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <th>{{ form.password.label_tag }}</th>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if form.errors %}
                    <p class="errorlist">Błędna nazwa użytkownika lub hasło. Spróbuj ponownie.</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="center"><input class="btn" type="submit" value="zaloguj" /></td>
            <tr>
        </table>
</form>
{% endblock %}

