body {
    margin: 20px;
    padding: 0;
    background: #eeeeee;
    color: #000000;
}
body, th, td {
    font: 12px/1.4em Verdana,sans-serif;
}

.center {
    text-align: center;
}

.errorlist {
    color: #ff0000;
}

.right {
    text-align: right;
}

.fright {
    float: right;
}

#search-form {
    margin: 10px 0px 0px 0px;
}

ul.nav {
    font-size: 18px;
}

ul.nav li {
    margin-top: 3px;
}

div.content input, div.content textarea {
    width: 400px;
}
