body {
    margin: 20px;
    padding: 0;
    background: #eeeeee;
    color: #000000;
}
body, th, td {
    font: 12px/1.4em Verdana,sans-serif;
}

.errorlist {
    color: #ff0000;
}

.right {
    text-align: right;
}

