{% extends 'main.html' %}

{% block heading %}List klientów{% endblock %}

{% block nav_user_list %} class="active" {% endblock %} 

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Klient</td>
                <td>Firma</td>
                <td>Adres</td>
                <td>Miejscowość</td>
                <td>Kod pocztowy</td>
                <td>Telefon kontaktowy</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {% for c in clients %}
            <tr>
                <td><a href="{{ c.get_absolute_url }}">{{ c.get_full_name }}</a></td>
                <td>{{ c.company_name|default:'-' }}</td>
                <td>{{ c.address|default:'-' }}</td>
                <td>{{ c.city|default:'-' }}</td>
                <td>{{ c.postcode|default:'-' }}</td>
                <td>{{ c.phone_numbers }}</td>
                <td><a title="nowe zgłoszenie" href="{% url 'product_create' c.pk %}"><i class="icon-plus"></i></a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8" class="center">{% if q %}nie znaleziono klientów{% else %}brak klientów{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

