{% extends 'main.html' %}

{% block heading %}
    Dane użytkownika {{ client }}
    <small>
        <a title="edytuj dane użytkownika" class="btn" href="{% url 'user_update' client.pk %}"><i class="icon-edit"></i></a>
    </small>
{% endblock %}

{% block content %}
    <address>
        {% for field, value in client.get_details_list %}
            {{ value }}<br>
        {% endfor %}
    </address>

    <a class="btn" href="{% url 'product_create' client.pk %}">nowe zgłoszenie</a>

    {% include 'product/product_table.html' with products=client.product_set.all %}
{% endblock %}

