{% extends 'main.html' %}

{% block heading %}
    {{ client }}
    <small>
        <a title="edytuj dane użytkownika" class="btn" href="{% url 'user_update' client.pk %}"><i class="icon-edit"></i></a>
    </small>
{% endblock %}

{% block content %}

    {% include 'cs_user/user_info.html' with hide_name=1 %}
    
    <a class="btn" href="{% url 'product_create' client.pk %}">nowe zgłoszenie</a>

    {% block product_list %}
    <h2>List zgłoszeń</h2>
    {% include 'product/product_table.html' with products=client.product_set.all %}
    {% endblock %}

    {% block new_product %}{% endblock %}
{% endblock %}

