{% extends 'main.html' %}

{% block heading %}{% if client %}Edycja danych klienta "{{ client }}" {% else %}Nowy klient{% endif %}{% endblock %} 

{% block nav_user_create %} class="active" {% endblock %} 

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}

    {% if client.pk %}
    <tr>
        <td></td>
        <td><a href="{% url 'user_password_reset' %}">zmień hasło</a></td>
    </tr>
    {% endif %}
    {% include 'inc/buttons.html' %}
    </table>
</form>
{% endblock %}

