{% extends 'main.html' %}

{% block heading %}
    Zgłoszenie {{ product }}
    <small>
        <a title="edytuj dane zgłoszenia" class="btn" href="{% url 'product_update' product.user.pk product.pk %}"><i class="icon-edit"></i></a>
        <a title="drukuj" class="btn" target="_blank" href="{% url 'product_pdf' product.user.pk product.pk %}"><i class="icon-print"></i></a>
    </small>
{% endblock %}

{% block content %}
    {% block product_details %}
    {% include 'product/product_info.html' %}
    {% endblock %}

    {% block comments %}
    <h2>Komentarze</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Data</td>
                <td>Komentarz</td>
                <td>Koszt usługi</td>
                <td>Koszt sprzętu</td>
                <td>Koszt dojazdu</td>
                <td>Status</td>
                <td>Pracownik</td>
            </tr>
        </thead>
        <tbody>
        {% for c in product.comment_set.all %}
            <tr>
                <td>{{ c.created }}</td>
                <td>
                    {{ c.description|default:'-' }}{% if c.attachment %}, <a href="{{ c.attachment.url }}">załącznik</a>{% endif %}
                </td>
                <td>{% if c.cost_service %}{{ c.cost_service }}zł{% else %}-{% endif %}</td>
                <td>{% if c.cost_hardware %}{{ c.cost_hardware }}zł{% else %}-{% endif %}</td>
                <td>{% if c.cost_transport %}{{ c.cost_transport }}zł{% else %}-{% endif %}</td>
                <td>{{ c.get_status }}</td>
                <td>{{ c.user.get_full_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn fright" href="{% url 'comment_create' product.pk %}">dodaj komentarz{% if product.status < closed %}/zmień status{% endif %}</a>

    {% endblock %}

    {% block new_comment %}

    {% endblock %}
{% endblock %}

