{% extends 'base/main.html' %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Klient</td>
                <td>Produkt</td>
                <td>Producent</td>
                <td>Serial</td>
                <td>Gwarancja</td>
                <td>Status</td>
                <td>Koszt</td>
                <td>Ostatnia zmiana</td>
                <td>Data przyjęcia</td>
            </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <td>{{ p.pk }}</td>
                <td>{{ p.user }}</td>
                <td><a href="{% url 'product_detail' p.pk %}">{{ p }}</a></td>
                <td>{{ p.producent }}</td>
                <td>{{ p.serial }}</td>
                <td>{{ p.warranty }}</td>
                <td>{{ p.status }}</td>
                <td>123zł</td>
                <td>{{ p.created }}</td>
                <td>{{ p.modified }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>brak zgłoszeń</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

