{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Dziobak - {{ user.company }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_PREFIX }}css/styles.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/main.js"></script>
    <script>
        var CLIENT_LIST = "{% url 'user_list' %}"
        var PRODUCT_LIST = "{% url 'product_list' %}"
    </script>
</head>
<body>
    {% block main %}
    <div class="container">
        {% if user.pk %}
        <div class="row">
            <div class="fleft">
                <h1>{% if user.company.logo %}<img src="{% url 'serve_logo' %}" class="img-polaroid logo" /> {% endif %}<a href="/">{{ user.company }}</a></h1>
            </div>
            <div class="fright">
                <div>zalogowany jako {{ user }}. Ostatnie logowanie: {% if user.last_login %}{{ user.last_login }}{% else %} - {% endif %}</div>
                <div class="fright btn-group">
                    {% if user.is_superuser or user.is_employer %}
                    <a class="btn {% block nav_employee_list %}{% endblock %}" href="{% url 'employee_list' %}">pracownicy</a>
                    {% endif %}
                    {% if user.is_employee %}
                    <a class="btn {% block nav_employee_update %}{% endblock %}" href="{% url 'profile_update' %}">profil</a>
                    {% endif %}
                    <a class="btn" href="{% url 'cs_logout' %}">wyloguj</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="{% block nav_product_list %}{% endblock %}"><a href="{% url 'product_list'%}">zgłoszenia</a></li>
                        {% if user.is_employee %}
                        <li class="{% block nav_user_list %}{% endblock %}"><a href="{% url 'user_list' %}">klienci</a></li>
                        <li class="{% block nav_user_create %}{% endblock %}"><a href="{% url 'user_create' %}">nowy klient</a></li>
                        {% endif %}
                    </ul>
                    {% if user.is_employee %}
                    <form method="GET" id="search-form" action="" class="fright">
                        <div class="input-append">
                            <input class="span2" id="appendedDropdownButton" type="text" name="q" value="{{ q }}">
                            <div id="search-options" class="btn-group open">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">szukaj <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a class="search-submit" id="client-search" href="#">klienta</a></li>
                                    <li><a class="search-submit" id="product-search" href="#">zgłoszenia</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        {% endif %}
        <h2>{% block heading %}{% endblock %}</h2>
            <div class="content">
            {% block content %} 
            {% endblock %}
            </div>
        </div>
    {% endblock %}
    </div>
</body>
</html>

