{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Company Name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL}}css/styles.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script>
        var CLIENT_LIST = "{% url 'user_list' %}"
        var PRODUCT_LIST = "{% url 'product_list' %}"
    </script>
</head>
<body>
    <div class="container">
        {% if user.pk %}
        <div class="row">
            <div class="span2"><h1>{{ user.company }}</h1></div>
            
            <div class="span8 right">
                <div>zalogowany jako {{ user }}</div>
                <div>Ostatnie logowanie: {% if user.last_login %}{{ user.last_login }}{% else %} - {% endif %}</div>
            </div>
            <div class="span2 right btn-group">
                <a class="btn" href="{% url 'user_update' user.pk %}">profil</a>
                <a class="btn" href="{% url 'cs_logout' %}">wyloguj</a>
            </div>
        </div>

        <div class="row">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="{% url 'product_list'%}">zgłoszenia</a></li>
                        <li><a href="{% url 'user_list' %}">klienci</a></li>
                        <li><a href="{% url 'user_create' %}">nowy klient</a></li>
                    </ul>
                    <form method="GET" id="search-form" action="" class="fright">
                        <div class="input-append">
                            <input class="span2" id="appendedDropdownButton" type="text" name="q" value="{{ q }}">
                            <div id="search-options" class="btn-group open">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">szukaj <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a class="search-submit" id="client-search" href="#">klienta</a></li>
                                    <li><a class="search-submit" id="product-search" href="#">zgłoszenia</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
        {% endif %}
        <h2>{% block heading %}{% endblock %}</h2>
            <div class="content">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>

